@charset "utf-8";

/* 1024이하 시작 */
@media all and (max-width: 1024px){
.menu_list{display: none;}
.main_wrap{height : 800px;}
.menu_list_m{
  display: inline-block;
  margin-right: 35px;
  width : 100px;
  height : 100%;
  float : right;
  text-align: center;
  cursor : pointer;

  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  -webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.menu_list_m::after,
.menu_list_m::before,
.menu_more{
  width : 55px;
  height : 5px;
  background-color : white;
  border-radius : 5px;
  transition : .3s ease-in-out;
}
.menu_list_m::after,
.menu_list_m::before{content : '';}
.menu_list_m::before{transform : translateY(-13px);}
.menu_list_m::after{transform : translateY(13px);}
/* 적용 */
.menu_list_m.active::after,
.menu_list_m.active::before,
.menu_list_m.active .menu_more{background-color : white;}
.menu_list_m.active .menu_more{
  transform : translateX(-100px);
  opacity : 0;
}
.menu_list_m.active::before{transform : translateY(5px) rotate(45deg);}
.menu_list_m.active::after{transform : translateY(-5px) rotate(-45deg);}

/* 메인슬라이드 시작 */
.main_wrap{
  height : 1400px;
  padding-top : 0;

  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main_wrap1{
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  padding-top : 44px;
  width : 100%;
  max-width : none;
  height : 700px;
}
.main_info{text-align: center;}
.main_info4{margin : 20px auto 0 auto;}
.main_info4:hover{transform: translateY(10px);}
.main_wrap2{
  width : 100%;
  height : 700px;

  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex-grow: 0;
}
/* 메인슬라이드 끝 */

/* 나에 대하여 시작 */
.about_me{
  height : 1300px;

  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about_me1{
  width : 100%;
  max-width : none;
  height : 50%;
  padding-top : 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.about_me1_img{
  width : 100%;
  max-width : none;
}
.about_me1_img img{
  max-width : 382px;
  min-width : none;
}
.about_me2{
  height : 50%;
  padding-top : 0;
  padding-left : 0;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex-grow: 0;
}
.about_info2{max-width: 654px;}
/* 나에 대하여 끝 */

/* 숙련도 시작 */
.skills{height : 1400px;}
.skills_total{display: none;}
.skills_infobox{
  max-width : 770px;
  height : 1031px;

  -webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.skills_infobox2{
  width : 100%;
  max-width : 770px;
  height: 327px;
  opacity: 1;
  transform: none;
  box-sizing: border-box;
  padding: 30px 49px 30px 66px;
}
.skills_infobox2:hover{transform: none;}
.skills_infobox2 > div{display: block;}
.skills_icon{
  width : 210px;
  height : 210px;
  float : left;
  margin-top: 22px;
}
.skills_icon img{max-width: 107px;}
@media all and (min-width: 601px) and (max-width: 830px){
  .skills_infobox{max-width : 650px;}
  .skills_infobox2{padding: 30px 30px 30px 30px;}
  .skills_icon{
    margin-top: 52px;
    width : 150px;
    height : 150px;
  }
}
.skills_info3{
  float : right;
  margin-top: 48px;
  width : 60%;
  max-width : 340px;
  height : 40px;
  display: inline-block;
}
.skills_info3 > br{display: none;}
.skills_info4{
  float : right;
  margin: 23px auto 0 auto;
  text-align: left;
  max-height : 120px;
  width : 60%;
  max-width : 340px;
  display: inline-block;
}
/* 숙련도 끝 */

/* 이메일 시작 */
.contact{height : 1300px;}
.contact_box{
  margin-top: 80px;
  width : 100%;
  height : 1140px;

  -webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.contact_box1,
.contact_box2{
  width : 100%;
  height : 50%;
}
.contact_box1_1{
  margin: 75px auto 0 auto;
  width : 355px;
  height : 420px;
}
.contact_info2,
.contact_info4{text-align: center;}
.contact_input input:focus ~ label,
.contact_input input:valid ~ label{transform: translateX(-50%) translateY(-500%);}
.contact_input label{
  left: 50%;
  transform: translateX(-50%);
}
.contact_box2{
  border-left: none;
  border-top: 1px solid #494949;
}
.contact_box2_1{
  padding : 50px 0 0 0;
  text-align: center;
}
.contact_info7{
  top : 86px;
  left: 50%;
  transform: translateX(-50%);
}
.contact_box2_1 textarea:focus ~ label,
.contact_box2_1 textarea:valid ~ label{transform: translateX(-50%) translateY(20px);}
/* 이메일 끝 */
}
/* 1024이하 끝 */
