@charset "utf-8";

/* 폰트 */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_100.ttf);
	font-weight: 100;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_200.ttf);
	font-weight: 200;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_300.ttf);
	font-weight: 300;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_400.ttf);
	font-weight: 400;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_500.ttf);
	font-weight: 500;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_600.ttf);
	font-weight: 600;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_700.ttf);
	font-weight: 700;
	font-style: bold;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_800.ttf);
	font-weight: 800;
	font-style: normal;
} /* "mosk", sans-serif; */
@font-face{
	font-family: "mosk";
	src: url(../font/Mosk_900.ttf);
	font-weight: 900;
	font-style: normal;
} /* "mosk", sans-serif; */

@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
	font-weight: 100;
	font-style: thin;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: exthin;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: 500;
	font-style: medium;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600;
	font-style: bold;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: 700;
	font-style: exbold;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
	font-weight: 800;
	font-style: heavy;
}
@font-face {
	font-family: 'dream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
	font-weight: 900;
	font-style: black;
}

/* reset */
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-font-smoothig: antialised;
} /* 전체 초기화 */
html, body{
	height: 100%;
	-ms-overflow-style: none; /* ms 스크롤 없애기 */
}
iframe, video, img, fieldset, input{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	border: none;
	background: none;
} /* 하이퍼링크 초기화 */
table{
	padding: 0;
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
} /* 표 공통 */
th, td{padding: 0; margin: 0;} /* 표 제목, 내용 공통 */
ul, li{list-style: none;}
input{outline : none; border : none;}

/* 스크롤 css */
::-webkit-scrollbar{width: 0px;}
#scrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	z-index: 1000;
}
#progressbar{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	z-index: 1000;
	background-color: #D21339;
}

/* ::-webkit-scrollbar{width: 12px;} 스크롤 너비
::-webkit-scrollbar-track{background-color: white;} 스크롤 전체범위
::-webkit-scrollbar-thumb{
	background-color: black;
	transition: all 1s;
} 스크롤 영역
::-webkit-scrollbar-thumb:hover{border: 2px outset white;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{
	background-color: black;
	height: 11px;
	border-radius: 50%;
} 스크롤 위아래 화살표
::-webkit-scrollbar-button:start:decrement:hover,
::-webkit-scrollbar-button:end:increment:hover{background-color: white;} */

@-webkit-keyframes start_ani{
	0%{opacity: 0;}
	100%{opacity: 1;}
} /* 시작 애니메이션 */

@-webkit-keyframes popcorn_ani{
	0%{transform: rotate(5deg);}
	30%{transform: rotate(-5deg);}
	40%{transform: rotate(5deg);}
	50%{transform: rotate(-5deg);}
	65%{transform: rotate(5deg);}
	75%{transform: rotate(-5deg);}
	100%{transform: rotate(5deg);}
} /* 팝콘효과 */

@-webkit-keyframes jelly_ani{
	0%{transform: scale(1,1);}
	30%{transform: scale(1.25,0.75);}
	40%{transform: scale(0.75,1.25);}
	50%{transform: scale(1.15,0.85);}
	65%{transform: scale(0.95,1.05);}
	75%{transform: scale(1.05,0.95);}
	100%{transform: scale(1,1);}
} /* 젤리효과 */

input:checked{animation: jelly_ani .8s ease-in-out;}
